{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.

%{erl_first_files, ["src/riak_rabbitmq.erl"]}.

{deps, 
  [
    {erlcloud, {git, "https://github.com/erlcloud/erlcloud.git", {branch, "master"}}},
    {erlexec, {git, "https://github.com/saleyn/erlexec.git", {branch, "master"}}},
    {yamerl, {git, "https://github.com/sqor/yamerl.git", {branch, "master"}}}
    % {meck, {git, "https://github.com/eproxus/meck.git"}}
  ]}.
