%{require_otp_vsn, "R13B04|R14"}.
{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.

%{erl_first_files, ["src/riak_rabbitmq.erl"]}.

{deps, 
  [
    {lager, {git, "https://github.com/basho/lager.git", {branch, "master"}}},
    {erlcloud, {git, "https://github.com/erlcloud/erlcloud.git", {branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
    % {riak_kv, {git, "https://github.com/basho/riak_kv.git", {branch, "master"}}},
    % {meck, {git, "https://github.com/eproxus/meck.git"}}
  ]}.